<!DOCTYPE html>
<html ng-app="AutoLoading">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="ng-grid.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="angular-toggle-switch-bootstrap-3.css">
	<style type="text/css">
		.gridstyle {
			border: 1px solid rgb(212,212,212);
			width: 500; 
			height: 300px
		}
		.green{
			background-color: green;
			color:white;
		}
		.lightGreen{
			background-color: lightgreen;
			color: white;
		}
		.red{
			background-color: red;
			color: white;
		}
		.gray{
			color: gray;
		}
	</style>
</head>
<body data-ng-controller="bodyCtrl">
	<div class="col-md-2" style="position:fixed;left:0px;top:0px;" ng-controller="switchCtrl">
		<toggle-switch model="pageStatus" 
		on-label="Sending"
		off-label="Search"
		class="switch-primary"></toggle-switch>
	</div>
	<div class="well col-md-8 col-md-offset-2"  >
		
		<div id="SendingQueueDiv" ng-controller="SendingCtrl">
			<div class="well">
				<button class="btn btn-primary" ng-click="enableChangeOrder()" id="enableChangeOrderBtn">Change Order</button>
				<div id="editBtnDiv" style="display:none">
					<button class="btn btn-primary" ng-click="orderByDepartureTime()">Order by Departure Time</button>
					<button class="btn btn-primary" ng-click="undoOrder()">Undo</button>
					<button class="btn btn-primary" ng-click="saveOrder()">Save</button>
					<button class="btn btn-primary" ng-click="cancelOrder()">Cancel</button>
				</div>
				
			</div>
			<div id="sendingTableDiv">
				<div class="gridstyle" ng-grid="sendingQueue" ng-style="{'height':vpcTableHeight}"></div>	
			</div>
			<div id="editTableDiv" style="display:none">
				<div class="gridstyle" ng-grid="editOrderQueue" ng-style="{'height':eidtTableHeight}"></div>
			</div>
		</div>
		
		<div  id="SearchDiv" style="display:none" ng-controller="SearchCtrl">
			<div class="form-horizontal well">
				<div class="form-group">
					<label for="inputVessel" class="col-sm-1 control-label">Vessel: </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputVessel" placeholder="Input the vessel" ng-model="searchCondition.vessel">
					</div>
					<label for="inputVoyage" class="col-sm-2 control-label">Voyage: </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputVoyage" placeholder="Input the voyage" ng-model="searchCondition.voyage">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPol" class="col-sm-1 control-label">POL: </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputPol" placeholder="Input the POL" ng-model="searchCondition.pol">
					</div>
					<label for="inputCompanyName" class="col-sm-2 control-label">CompanyName: </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputCompanyName" placeholder="Input the company name" ng-model="searchCondition.company">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 col-sm-offset-10">
						<button ng-click="Search()" class="btn btn-primary">Search</button>	
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						<span >searching...</span>
					</div>
				</div>
			</div>
			<div class="gridstyle", ng-grid="searchGrid" ng-style="{'height':searchTableHeight}"></div>
			<div class="modal fade bs-example-modal-lg" id="vpcSendingDetailModal" aria-hidden="true" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title">{{selectedVPC.VesselName}}/{{selectedVPC.VoyageNumber}} 	{{selectedVPC.LoadPort}}</h4>
						</div>
						<div class="modal-body">
							<p>One fine body&hellip;</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	
</body>
<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="ng-grid.js"></script>
<script type="text/javascript" src="angular-toggle-switch.js"></script>
<script type="text/javascript" src="AL_Filters.js"></script>
<script type="text/javascript" src="AL_Controllers.js"></script>
<script type="text/javascript" src="AL_Services.js"></script>
<script type="text/javascript">
	angular.module("AutoLoading",["ngGrid","toggle-switch","autoLoading.Filter","autoLoading.Services","autoLoading.Controllers"]);
</script>
</html>
