<!DOCTYPE html>
<html ng-app="AutoLoading">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="ng-grid.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="angular-toggle-switch-bootstrap-3.css">
	<style type="text/css">
		.gridstyle {
			border: 1px solid rgb(212,212,212);
			width: 100%; 
			height: 300px
		}
		.green{
			background-color: green;
			color:white;
		}
		.lightGreen{
			background-color: lightgreen;
			color: white;
		}
		.red{
			background-color: red;
			color: white;
		}
		.gray{
			color: gray;
		}
	</style>
</head>
<body ng-controller="SendingCtrl">
	<div class="col-md-2" style="position:fixed;left:0px;top:0px;">
		<toggle-switch model="pageStatus" 
		on-label="Sending"
		off-label="Search"
		class="switch-primary"></toggle-switch>
	</div>
	<div class="well col-md-8 col-md-offset-2"  >
		
		<div id="SendingQueueDiv">
			<div class="well">
				<button class="btn btn-primary" ng-click="enableChangeOrder()" id="enableChangeOrderBtn">Change Order</button>
				<div id="editBtnDiv" style="display:none">
					<button class="btn btn-primary" ng-click="orderByDepartureTime()">Order by Departure Time</button>
					<button class="btn btn-primary" ng-click="undoOrder()">Undo</button>
					<button class="btn btn-primary" ng-click="saveOrder()">Save</button>
					<button class="btn btn-primary" ng-click="cancelOrder()">Cancel</button>
				</div>
				
			</div>
			<div id="sendingTableDiv">
				<div class="gridstyle" ng-grid="sendingQueue" ng-style="{'height':vpcTableHeight}"></div>	
			</div>
			<div id="editTableDiv" style="display:none">
				<div class="gridstyle" ng-grid="editOrderQueue" ng-style="{'height':eidtTableHeight}"></div>
			</div>
		</div>

		<div class="form-horizontal well" id="SearchDiv">
			<div class="form-group">
				<label for="inputVessel" class="col-sm-1 control-label">Vessel: </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="inputVessel" placeholder="Input the vessel" ng-model="searchCondition.vessel">
				</div>
				<label for="inputVoyage" class="col-sm-2 control-label">Voyage: </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="inputVoyage" placeholder="Input the voyage" ng-model="searchCondition.voyage">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPol" class="col-sm-1 control-label">POL: </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="inputPol" placeholder="Input the POL" ng-model="searchCondition.pol">
				</div>
				<label for="inputCompanyName" class="col-sm-2 control-label">CompanyName: </label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="inputCompanyName" placeholder="Input the company name" ng-model="searchCondition.company">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-7">
					<button ng-click="showCurrentStatus()" class="btn btn-primary">Show current sending queue</button>
				</div>
				<div class="col-sm-1">
					<button ng-click="Search" class="btn btn-primary">Search</button>	
				</div>
				
			</div>
		</div>
		
	</div>
</body>
<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="ng-grid.js"></script>
<script type="text/javascript" src="angular-toggle-switch.js"></script>
<script type="text/javascript">
	angular.module("AutoLoading",["ngGrid","toggle-switch"])
	.filter("toBoolean",function(){
		return function (value){
			if(angular.isNumber(value)){
				if(value == 1){
					return "true";
				}else if(value == 0){
					return "false";
				}
			}else{
				return "Undefined";
			}
		}
	})
	.filter("sendingStatus",function(){
		return function(value){
			if(angular.isNumber(value)){
				if(value == 1){
					return "Sended";
				}else if(value == 0){
					return "Waiting...";
				}else if(value == -1){
					return "Sending...";
				}
			}else{
				return "Undefined";
			}
		}
	})
	.filter("companyFilter",function(){
		return function(value){
			if(value && angular.isString(value)){
				return value;
			}else{
				return "All Company";
			}
		}
	})
	.controller("SendingCtrl",function($scope){

		$scope.vpcData = [
		{VPCId:1,DepartureTime:"2014-05-04",Vessel:"MSC V1",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:0,Order:1},
		{VPCId:2,DepartureTime:"2014-05-05",Vessel:"MSC V2",Voyage:"FD546",POL:"YANTIAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:0,Order:10},
		{VPCId:3,DepartureTime:"2014-05-06",Vessel:"MSC V3",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:0,Order:5},
		{VPCId:4,DepartureTime:"2014-05-07",Vessel:"MSC V4",Voyage:"FD546",POL:"YANTIAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:0,Order:1},
		{VPCId:5,DepartureTime:"2014-05-08",Vessel:"MSC V5",Voyage:"FD546",POL:"YANTIAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:-1,Order:0},
		{VPCId:6,DepartureTime:"2014-05-08",Vessel:"MSC V6",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:1,IsSended:0,Order:2},
		{VPCId:7,DepartureTime:"2014-05-09",Vessel:"MSC V7",Voyage:"FD546",POL:"YANTIAN",fileter:"",WithELV:1,IsFinalized:0,IsSended:0,Order:999},
		{VPCId:8,DepartureTime:"2014-05-09",Vessel:"MSC V8",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:0,IsSended:0,Order:999},
		{VPCId:9,DepartureTime:"2014-05-09",Vessel:"MSC V9",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:0,IsSended:0,Order:999},
		{VPCId:10,DepartureTime:"2014-05-10",Vessel:"MSC V0",Voyage:"FD546",POL:"YANTIAN",fileter:"",WithELV:1,IsFinalized:0,IsSended:0,Order:999},
		{VPCId:11,DepartureTime:"2014-05-11",Vessel:"MSC V10",Voyage:"FD546",POL:"CHIWAN",fileter:"",WithELV:1,IsFinalized:0,IsSended:0,Order:999}
		];

		$scope.changeOrderData=[];

		$scope.pageStatus = true;

		$scope.searchCondition = {
			vessel: "",
			voyage:"",
			pol:"",
			company:""
		}

		$scope.enableChangeOrder = function(){
			$scope.changeOrderData = getEditableOriginalOrder();
			$("#enableChangeOrderBtn").hide();
			$("#editBtnDiv").show();
			$("#sendingTableDiv").fadeOut('slow',function(){
				$("#editTableDiv").fadeIn('slow');
			});
		}

		

		$scope.undoOrder = function(){
			$scope.changeOrderData = getEditableOriginalOrder();
		}

		$scope.cancelOrder = function(){
			$("#enableChangeOrderBtn").show();
			$("#editBtnDiv").hide();
			$("#editTableDiv").fadeOut('slow',function(){
				$("#sendingTableDiv").fadeIn('slow');
			});
		}

		$scope.saveOrder = function(){
			alert("ajax to sync the data.")
			SaveOrderData();
			$scope.cancelOrder();
			$scope.sendingQueue.sortByDirection("Order","ASC");
		}

		

		//the switch button to switch the page status
		$scope.$watch("pageStatus",function(newValue,oldValue){
			if(newValue==true){
				$("#SearchDiv").fadeOut('slow',function(){
					$("#SendingQueueDiv").fadeIn('slow');
				})
			}else{
				$("#SendingQueueDiv").fadeOut('slow',function(){
					$("#SearchDiv").fadeIn('slow');
				})
			}
		})

		$scope.$watch('vpcTableHeight.length',function(){
			$scope.vpcTableHeight = $scope.vpcData.length * 30 + 100 + 'px';
		})
		$scope.$watch('changeOrderData.length',function(){
			$scope.eidtTableHeight = $scope.changeOrderData.length * 30 + 100 + 'px';
		})
		

		// $scope.checkStatus =  'red';

		// $scope.style = {
		// 	backgroundColor:"red"
		// }

		$scope.getBackgroundColor = function(sendingStatus,withELV,isFinalized){
			if(angular.isNumber(sendingStatus)){
				if(sendingStatus == "-1"){
					return "green";
				}else if(sendingStatus == "0"){
					if(withELV == 0 || isFinalized == 0){
						return "red";
					}else{
						return "lightgreen";	
					}
					
				}else if(sendingStatus == "1"){
					return "gray";
				}
			}else{
				return "gray"
			}
		}

		$scope.sendingQueue = {
			data:'vpcData',
			enableColumnResize: true,
			columnDefs:[
			{field:'Vessel'},
			{field:'Voyage'},
			{field:'POL'},
			{field:'DepartureTime'},
			{field:'WithELV', displayName:'With ELV',cellFilter:'toBoolean'},
			{field:'IsFinalized', displayName:'Is Finalized',cellFilter:'toBoolean'},
			{field:'fileter',cellFilter:'companyFilter'},
			{field:'IsSended',displayName:'Send Status',cellFilter:'sendingStatus'},
			{field:'Order'},
			],
			multiSelect:false,
			sortInfo:{fields:['Order'],directions:['asc']},
			rowTemplate:'<div ng-style="{ \'cursor\': row.cursor, \'background-color\': getBackgroundColor(row.getProperty(\'IsSended\'),row.getProperty(\'WithELF\'),row.getProperty(\'IsFinalized\')) }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngCell {{col.cellClass}}"><div class="ngVerticalBar" ng-style="{height: rowHeight}" ng-class="{ ngVerticalBarVisible: !$last }">&nbsp;</div><div ng-cell></div></div>'
		};

		$scope.editOrderQueue = {
			data:'changeOrderData',
			enableColumnResize: true,
			columnDefs:[
			{field:'Vessel'},
			{field:'Voyage'},
			{field:'POL'},
			{field:'DepartureTime'},
			{field:'WithELV', displayName:'With ELV',cellFilter:'toBoolean'},
			{field:'IsFinalized', displayName:'Is Finalized',cellFilter:'toBoolean'},
			{field:'fileter',cellFilter:'companyFilter'},
			{field:'IsSended',displayName:'Send Status',cellFilter:'sendingStatus'},
			{field:'Order',enableCellEdit:true},
			],
			enableCellSelection: true,
			enableRowSelection: false,
			enableCellEditOnFocus: true,
			multiSelect:false,
			sortInfo:{fields:['DepartureTime'],directions:['asc']},
		}

		function getEditableOriginalOrder(){
			var data = $.map($scope.vpcData,function(v,i){
				if(v.WithELV == 1 && v.IsFinalized == 1 && v.IsSended ==0){
					return {
						VPCId:v.VPCId,
						DepartureTime:v.DepartureTime,
						Vessel:v.Vessel,
						Voyage:v.Voyage,
						POL:v.POL,
						WithELV:v.WithELV,
						IsFinalized:v.IsFinalized,
						IsSended:v.IsSended,
						Order:v.Order
					}
				}
			});
			return data;
		}

		function SaveOrderData(){
			$.each($scope.changeOrderData,function(ChangedI,changedV){
				$.each($scope.vpcData,function(originalI,originalV){
					if(originalV.WithELV == 1 && originalV.IsFinalized == 1 
						&& originalV.IsSended == 0 && originalV.VPCId == changedV.VPCId){
						originalV.Order = changedV.Order;
				}
			})
			})
		}
	})
</script>
</html>
