<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<script type="text/javascript" src="angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
	<script type="text/ng-template" id="scopeTemplate">
	
	<div class="panel-body">
		<p>Data Value: {{local}}, City:{{cityFn()}}</p>
		<p>Data Value: <input ng-model="local1" /></p>
	</div>
	</script>
	<script type="text/javascript">
	angular.module("exampleApp", [])
		.directive("scopeDemo", function(){
			return {
				// template: "<div class='panel-body'> Name: <input ng-model='name'/></div>",
				template: function(){
					return angular.element(
						document.querySelector("#scopeTemplate")).html();
				},
				//scope:true
				scope:{
					local:"@nameprop",
					local1:"=nameprop1",
					cityFn:"&city"
				}
			}
		})
		.controller("scopeCtrl",function($scope){
			// do nothing -no behaviours required
			//$scope.name= "test";
			$scope.data = {name:"Adam", defaultCity:"London"};
			//$scope.city = "London";
			$scope.getCity = function(name){
				return name == "Adam" ? $scope.data.defaultCity:"Unknow";
			}
		});
	</script>
</head>
<body>
<!--<div class="panel-body">
	 <p>Name:<input ng-model="data.name" /></p>
	 <p>City:<input ng-model="city" /></p>
	 <p>Country:<input ng-model="country" /></p>
	 </div>-->
	<div ng-controller="scopeCtrl" class="panel panel-default">
		<!-- <div class="panel-body" scope-demo></div>
		<div class="panel-body" scope-demo></div> -->
		<div class="panel-body">
			Direct binding: <input ng-model="data.name" />
		</div>
		<div class="panel-body" scope-demo nameprop="{{data.name}}" nameprop1="data.name" city="getCity(data.name)"></div>
	</div>
</body>
</html>